.about-container {
    width: 100%;
}

.maria-headshot {
    width: 35%;
    margin: 10px 30px 10px 0;
    border: 3px solid $accent-color;
    border-radius: 5px;
    box-shadow: 7px 7px 10px $dark-color;
}