/* Default styles */
img {
    max-width:100%;
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: $dark-color;

    &:focus {
        outline: none;
    }
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, p, blockquote {
    margin: 0;
}


/* Wrapper styles */
.wrapper {
	max-width: 1600px;
	width: 95%;
	margin: 0 auto;
}

/* Font and Background Styles */
html {
    font-size: 125%;
}

body {
    line-height: 1.6;
    // Background
    background: white;
    background-attachment: fixed;
    font-family: $body-font;
    color: $dark-color;
}

/* Font styles */
h1 {
    font-family: $accent-font;
    font-size: 5rem;
    color: $accent-color;
    margin-left: 10%
}

h2 {
    font-family: $accent-font;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 50px;
    letter-spacing: 2px;
    display: none;
}

h3 {
    font-size: 2.7rem;
    font-weight: $semi-bold;
    margin-left: 10%;
}

h4 {
    font-size: 2.5rem;
    color: $lighten-dark-color;
    font-weight: $bold;
    letter-spacing: 2px;
    text-align: center;
}

p {
    font-size: 1.2rem;
    font-weight: $medium;
    letter-spacing: 1px;
    margin: 20px 0;
}

blockquote {
    font-size: 1.8rem;
    font-weight: $semi-bold;
    letter-spacing: 2px;
    margin-top: 40px;
}

// Additional class styles 
.bold {
    font-weight: $bold;
}

.italic {
    font-style: italic;
    font-weight: $semi-bold;
}

.underline {
    border-bottom: 2px solid $accent-color;
    padding: 0 20px;
}

.page-heading {
    padding: 0 20px;
    border-bottom: 2px solid $accent-color;
}

.link {
    font-weight: $bold;
    padding: 3px 0;
    border-bottom: 2px solid transparent;

    &:hover {
        border-bottom: 2px solid $accent-color;
    }

    &:focus, &:active {
        color: $accent-color;
    }
}

.activeLink {
    color: green;
}

.larger-para {
    font-weight: $bold;
    font-size: 1.5rem;
    letter-spacing: 2px;
}