// Fonts
$accent-font: 'Vast Shadow', cursive;
$body-font: 'Poppins', sans-serif;

// Font Weights
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;


// Colors
$accent-color: #FF4500;
$dark-color: #363537;