// Fonts
$accent-font: 'Vast Shadow', cursive;
$body-font: 'Poppins', sans-serif;

// Font Weights
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;


// Colors
$accent-color: #FF4500;
$dark-color: #0e0d0d;
$lighten-dark-color: lighten($dark-color, 20%);

// Mix-ins
@mixin photo-border {
    margin: 20px 30px 20px 0;
    border: 3px solid $accent-color;
    border-radius: 5px;
    box-shadow: 7px 7px 10px $dark-color;
}